<div class='mt-4'>
    <div>
        <h3>Khóa học của tôi</h3>
        <a href='/me/stored/courses'>Danh sách khóa học</a>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên Khóa học</th>
                <th scope='col'>Trình độ</th>
                <th scope='col' colspan='2'>Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='' data-id='{{this._id}}' class='btn-restore'>Khối phục</a>
                        <a
                            class='btn-danger'
                            href=''
                            data-toggle='modal'
                            data-target='#delete-course-modal'
                            data-id='{{this._id}}'
                        >Xóa vĩnh viễn</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        hiện chưa xóa khóa học nào!
                        <a href='/me/stored/courses'>Danh sách khóa học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div
    class='modal fade'
    id='delete-course-modal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa Khóa học</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Hành động này xẽ khóa vĩnh viến !!!
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
                <button id='btn-delete-course' type='button' class='btn btn-danger'>Xóa</button>
            </div>
        </div>
    </div>
</div>

{{! form hidden }}
<form name='delete-course-form' method='POST'></form>
<form name='restore-course-form' method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function () { let deleteForm = document.forms['delete-course-form'];
    let restoreForm = document.forms['restore-course-form']; let id; var restoreBtn = $('.btn-restore');
    $('#delete-course-modal').on('show.bs.modal', function (event) { let button = $(event.relatedTarget); id =
    button.data('id'); });; let btnDeleteCourse = document.getElementById('btn-delete-course'); btnDeleteCourse.onclick
    = function () { deleteForm.action = '/courses/' + id + '/force?_method=DELETE'; deleteForm.submit(); };
    restoreBtn.click(function (e) { e.preventDefault(); var courseId = $(this).data('id'); restoreForm.action =
    '/courses/'+ courseId + '/restore?_method=PATCH'; restoreForm.submit(); }) })
</script>